.flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted;

  /* flex-basis: 100px;
  flex-grow: 1; */
  /* flex: 1 1 auto; */
  /* flex-wrap: wrap; */
}

.flexContainer > * {
  border: 1px solid grey;
}

.fixedSizeElement {
  width: 20%;
}

.longSelect {
  width: 15%;
  /* flex-grow: 2; */
  /* width: 100%; */
}

.shortSelect {
  width: 10%;
  /* flex-grow: 1; */
}

.input {
  width: 30%;
  /* flex-grow: 3; */
}

.smallButton {
  width: 5%;
  /* flex-grow: 1; */
}